---
import BlogHero from '../components/blog/BlogHero.astro';
import PostGrid from '../components/blog/PostGrid.astro';
import BlogSidebar from '../components/blog/BlogSidebar.astro';
import Layout from '../layouts/Layout.astro';

// Obtener todos los posts del blog
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');

// Ordenar por fecha más reciente
const sortedPosts = allPosts.sort((a, b) => 
  b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Layout title='Blog - Mocawa Coffee'>
  <BlogHero />
  
  <!-- Contenedor principal para PostGrid y BlogSidebar -->
  <section class="py-16 lg:py-20 bg-background">
    <div class="container-mocawa">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <!-- PostGrid - Ocupa 8 columnas en desktop -->
        <div class="lg:col-span-8">
          <PostGrid posts={sortedPosts} showTitle={true} />
        </div>
        
        <!-- BlogSidebar - Ocupa 4 columnas en desktop -->
        <div class="lg:col-span-4 mt-8 lg:mt-0">
          <BlogSidebar posts={sortedPosts} />
        </div>
      </div>
      

    </div>
  </section>
</Layout>